* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
  }
  
  /* sotto */
  #ticket{
     height: 200px;
      border-radius: 20px;
  
      background-color: rgb(255, 255, 255);
      border: 1px solid black;
      
  }
  #ticket div{
      width: 170px;
      text-align: center;
      margin: 0 auto;
      
  }
  h4{
      font-size: 1.2em;
  }
  
  /* sopra */
  #theform{
      margin-bottom: 50px;
      border-radius: 40px;
      box-shadow: 32px 18px 44px 8px white;
   
      border: 1px solid rgb(255, 255, 255);
      
  }
  
  .debug{
      border: 1px solid red;
  
  }
  
  h2{
      color: white
  }